.App {
  text-align: center;
  background-color: #a888b5;
  color: white;
  min-height: 100vh;
  padding: 25px;
  max-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: inline-block;
  align-items: center;
  text-align: left;
  font-size: 1rem;
  position: relative;
  top: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h3 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3rem;
}

ul {
  text-align: left;
  padding: 0 !important;
}

p,
li {
  font-size: 1.2rem;
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

button.primary {
  background-color: #ffd2a0;
}

article {
  background-color: #8174a0;
}

img {
  border-radius: 15px !important;
}
